body{
    background: rgb(154,201,149);
    background: linear-gradient(353deg, rgba(154,201,149,1) 0%, rgba(167,222,188,0.6671043417366946) 9%, rgba(172,235,228,0) 47%);
}

/*HEADER*/
.main_nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 100px;
}

#logo{
    display: flex;
    align-content: center;
    padding: 20px;
    width: 470px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #85b039;
    position: relative;
    top:-10px; 
}

#logo img{
    position: relative;
    top: -10px;
    padding-right: 20px;
}

.right{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.right a{
    height: 24px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: normal;
    color: #2d2d2d;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    padding-right: 40px;
}

#about a{
    color: #85b039;
}

#hamburger {
    display: none;
    position: relative;
}
#nav {
    overflow: hidden;
}
/*LANGUAGE HOVER DROPDOWN*/
ul {     
    padding:0;     
    margin:0;
}    
a {    
    display:block; 
    text-decoration: none;    
}    
li {    
    display:block;     
    float:left;    
}    
li ul li {    
    float:none;    
}    
li ul {    
    display:none;     
    position:absolute;   
    z-index:1    
}    
li:hover ul {    
    display:block;    
}    
    
/*DROPDOWN STYLING:*/    
#lan {    
    height:40px;
}    
#lan a {    
    color:#024E67;     
    padding:10px 15px 10px 15px;    
}    
#lan a:hover {
    color:#ffffff;    
}    
#lan li {    
    background-color:#FFF;     
    border:solid 1px rgb(231, 231, 231);      
    margin-left:-1px;    
}    
#lan li:hover {    
    background-color:#0072BA;   
}  
.lang_menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}


/*UX PROJECT KEYWORDS*/
#accessible, #creative, #informative{
    background-color: white;
    height: 80px;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: normal;
    color: #2d2d2d;
    font-family: 'Nunito Sans', sans-serif;
}
p::first-letter {
    font-size: 38px;
    color: #85b039
}

#accessible {
    display: flex;
    justify-content: flex-start;
    padding-left: 150px;
}
#creative {
    display: flex;
    justify-content: center;
}
#informative {
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    padding-bottom: 50px;
}

/*GRID LAYOUT*/
.UX_projects {
    position: relative;
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "DMV DOI"
    "ESI TBA";
    grid-gap: 30px;
}

/*HOVER*/
.container{
    position: relative;
    display: inline-block;
    width: 600px;
    height: 399px;
}

.overlay{
    position: absolute;
    opacity: 0%;
    transition: all 1s ease;
    background-color: #eeeeee;
    border-radius: 15px;
}

.text{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.UXoverlay{
    height:100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: rgba(28, 43, 17, 90%);
    border-radius: 15px;
}

.container:hover .UXoverlay{
    width:100%;
}

.container:hover .overlay{
    opacity: 1;
}

/*FOOTER*/
#footer{
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

#footer li{
    padding: 30px;
    list-style-type: none;
}


/*MEDIA QUERY*/
@media only screen and (max-width: 1300px) {
    .UX_projects {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "DMV"
        "DOI"
        "ESI"
        "TBA"
    }
    /*REMOVE HOVER
    .container:hover
        REMOVE HOVER*/
}

@media screen and (max-width: 976px) {
    #nav a:not(:first-child) {display: none;}
    #nav #hamburger {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 976px) {
    #nav.responsive {position: relative;}
    #nav.responsive #hamburger {
      position: absolute;
      right: 0;
      top: 0;
    }
    #nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    @media screen and (max-width: 976px) {
        #illust, #UX, #contacts, #about, #lan {display: none;}
   
    #nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    @media screen and (max-width: 976px) {
        #logo img{
            position: relative;
        }
    }

@media only screen and (max-width: 650px) {
    .container img{
        max-width: 70%;
        max-height: 70%;
        position: absolute;
    }
    .overlay{
        max-width: 70%;
        max-height: 70%;
    }
    .text{
        font-size: 16px;
    }
}

@media screen and (max-width: 582px) {
    #logo img{
        position: relative;
        top: 20px;}
}